@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
.btn {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000ed;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0;
    cursor: pointer;
    width: 12em;
    padding: 0.3em 0em;
}