.header {
	padding-top: 200px;
	height: 86vh;
	.header-content {
		display: flex;
		.header-info {
			width: 45%;
			.titles {
				margin-top: 12%;
				h1 {
					span {
						font-size: 70px;
						line-height: 60px;
						background: linear-gradient(90deg, rgba(113, 47, 134, 1) 0%, rgba(108, 80, 223, 1) 100%);
						color: transparent;
						background-clip: text;
						-webkit-background-clip: text;
						text-transform: uppercase;
					}
				}
			}
			.buttons-container {
				margin-top: 5%;
			}
		}
	}
}
@media (max-width: 575px) {
	.header {
		padding: 50px 0 0 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.header-content {
			display: block;
			.header-info {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.titles {
					h1 {
						text-align: left;
						span {
							font-size: 60px;
						}
					}
				}
				.buttons-container {
					display: flex;
					flex-direction: column;
				}
			}
			.header-example {
				display: none;
			}
		}
	}
}