.navigation {
	display: grid;
	grid-template-columns: 20% 50% 30%;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	padding: 1em;
	background-color: #ffffff;
	z-index: 1;
	.links, .sign {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 1.5em;
		.link {
			padding: 10px 0;
			border: 2px solid transparent;
			position: relative;
			transition: 0.4s;
			background-color: #ffffff;
			&:after {
				position: absolute;
				transition: 0.4s;
				content: "";
				width: 0;
				left: 50%;
				bottom: 0;
				height: 2px;
				background: rgb(78, 55, 167);
			}
			&:hover {
				cursor: pointer;
				&:after {
					width: 100%;
					left: 0;
				}
			}
		}
	}
	.sign {
		display: flex;
		justify-content: center;
		gap: 1.5em;
		align-items: center;
		.exit {
			display: none;
		}
		.signInUp {
			outline: 0px;
			border: 0px;
			&:after {
				position: absolute;
				transition: 0.4s;
				content: "";
				width: 0;
				left: 50%;
				bottom: 0;
				height: 2px;
				background: rgb(78, 55, 167);
			}
		}
	}
}


@media (max-width: 767px) {
		/* Гамбургер иконка */
		
	.menu-btn {
		display: flex;
		justify-content: flex-end;
		width: 30px;
		height: 30px;
		position: fixed;
		top: 25px;
		right: 25px;
		z-index:4;
		background-color: #ffffff00;
		cursor: pointer;
		span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #222222;
			transition: all 0.5s;
		}
	}

	.menu-btn span:nth-of-type(2) {
		top: calc(50% - 5px);
	}
	.menu-btn span:nth-of-type(3) {
		top: calc(50% + 5px);
	}

	/* Меняем гамбургер иконку, когда меню открыто */
	.menu-btn.active span {
		background-color: #ffffff;
	}
	.menu-btn.active span:nth-of-type(1) {
		display: none;
	}
	.menu-btn.active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(45deg);  
	}
	.menu-btn.active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(-45deg); 
	}

	/* Меню, которое будет появляться */
	.navigation {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		z-index: 3;
		background: #222222ef;
		transform: translateX(-100%);
		transition: transform 0.5s; 
		.logo {
			padding-top: 20px;
			color: #ffffff;
		}
		.links, .sign {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 0;
			.link {
				font-size: 30px;
				padding: 20px 0 20px 0;
				color: white;
				background-color: #22222200;
			}
		}
		.links {
			padding: 50px 0 0 0;
		}
	}
	.clear-block {
		display: block;
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background-color: #ffffff;
	}
	.navigation.active {
		transform: translateX(0);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navigation {
		grid-template-columns: 22% 50% 22%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.navigation {
		grid-template-columns: 20% 50% 30%;
		.sign {
			justify-content: center;
		}
	}
}