.user-profile {
    display: none;
    flex-direction: column;
    .profile-header {
        display: flex;
        .pofile-description {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;
            .personal-data {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
                .name-and-country {
                    display: flex;
                    flex-direction: column;
                    .nickname {
                        margin: 5% 0 0 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                    .user-country {
                        width: 32px;
                        height: 32px;
                    }
                    .medium-img {
                        border: 3px solid black;
                        width: 220px;
                        height: 220px;
                    }
                }
                .popular-hero {
                    margin: 0 0 0 15%;
                    .hero-img {
                        border: 2px solid black;
                    }
                    .hero-name {
                        padding: 3% 0;
                        text-align-last: left;
                    }
                    p {
                        margin: 3% 0 0 0;
                    }
                }
            }
            .current-rank {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
                img {
                    width: 60%;
                }
                .rank-star {
                    position: absolute;
                    top: 0px;
                }
                .rank {
                    padding-top: 10px;
                }
            }
        }
    }
    .profile-show {
        display: flex;
        margin: 5% 0 5% 0;
        .main-show {
            width: 70%;
            .previous-matches {
                .matсh {
                    opacity: 0;
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
                    transition: all 0.2s;
                    margin: 2% 0 0 0;
                    .match-hero {
                        .hero-img {
                            width: 128px;
                            height: 72px;
                        }
                    }
                    .hero-kda {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0 0 0 5%;
                    }
                    .radiant-win {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .match-duration {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .match-score {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .match-time-start {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.03);
                    }
                }
                .matсh-show {
                    animation: showMatch 1s linear forwards;
                }
                @keyframes showMatch {
                    0% {
                      opacity: 0;
                    }
                    100% {
                      opacity: 1;
                    }
                  }
            }
        }
        .profile-aside {
            padding: 0 0 0 5%;
            width: 30%;
            .general-stat {
                margin: 5% 0 0 0;
                .stat-item {
                    width: 55%;
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    text-align: right;
                    margin-top: 3%;
                    p {
                        text-align: right;
                    }
                }
                .top-friends {
                    margin: 5% 0 0 0;
                    .friend {
                        margin: 1.5em 0 0 0;
                        display: flex;
                        flex-direction: column;
                        .friend-title {
                            display: flex;
                            align-items: center;
                            img {
                                width: 50px;
                                height: 50px;
                                border: 1px solid black;
                            }
                            .friend-name {
                                margin: 0 0 0  1em;
                            }
                        }
                        .friend-main {
                            margin: 1em 0 0 0;
                            display: flex;
                            .friend-games {
                                margin: 0 1em 0 0;
                            }
                        }
                    }
                }
            }
        }
    }

}


@media (max-width: 575px) {
    .user-profile {
        padding-top: 70px;
        .profile-header {
            .pofile-description {
                display: flex;
                .personal-data {
                    display: flex;
                    align-items: flex-start;
                    .name-and-country {
                        display: flex;
                        flex-direction: column;
                        .medium-img {
                            border: 1px solid black;
                            width: 160px;
                            height: 160px;
                        }
                    }
                    .popular-hero {
                        margin: 0 0 0 6%;
                    }
                }
                .current-rank {
                    .rank-star {
                        width: 100px;
                    }
                    .rank{
                        width: 100px;
                    }
                }
            }
        }
    }
    .profile-show {
        flex-direction: column;
    }
    
}
