@import 'text';
@import 'button';

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 120px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 1200px;
    padding-top: 1em;
    background-color: #ffffff;
    .links {
        display: flex;
        align-items: center;
        gap: 2em;
    }
}
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* H E A D E R */ 

.header {
    padding-top: 12vh;
    height: 88vh;
    .header-content {
        display: flex;
        .header-info {
            width: 50%;
        }
        .header-example {
            width: 50%;
        }
    }
}

/* F A Q */

.faq {
    h2 {
        text-align: center;
        margin: 3% 0;
    }
    padding-bottom: 10%;
    .show-text {
        font-family: $font-family;
        font-size: $m-desc-fz;
        font-weight: $titles-font-weight;
        color: $font-color;
        text-align-last: left;
        background-color: #eee;
        cursor: pointer;
        padding: 18px;
        margin: 20px;
        width: 100%;
        border: none;
        outline: none;
        transition: 0.4s;
        &:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        &:hover {
            background-color: #ccc;
        }
    }
    .text {
        font-size: $s-desc-fz;
        font-weight: $s-desc-fw;
        overflow: hidden;
        padding: 0 40px;
        background-color: white;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
    .active {
        background-color: #ccc;
        &:after {
            content: "\2212";
        }
    }
    
}


/* F O O T E R */

.footer {
    border-top: 2px solid black ;
    height: 20%;
    padding: 2em 0 0.5em 0;
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .footer-info {
            display: flex;
            flex-direction: column;
            gap: 2em;
            .social-links {
                display: flex;
                gap: 1.5em;
            }
        }
        .footer-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2.5em 2.5em 2.5em;
            a {
                font-size: 16px;
                font-weight: $link-fw;
            }
        }
        .footer-buttons {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }

    }
    .footer-bottom {
        text-align: center;
    }
}

.link {
    margin: 5px;
    padding: 20px;
    border: 2px solid transparent;
    position: relative;
    transition: .4s;
    &:after {
        position: absolute;
        transition: .4s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 2px;
        background: black;
    }
    &:hover {
        cursor: pointer;
        &:after {
            width: 100%;
            left: 0;
        }
    }
}