@import "text";
@import "button";
@import "tutorial";
@import "faq";
@import "footer";
@import "popUp";
@import "user-profile";
@import "navigation";
@import "header";
@import "colors";

html {
	scroll-behavior: smooth;
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.logo {
	width: 100px;
}
@media (max-width: 575px) {
	html {
		.container {
			margin: 0 40px;
		}
	}

}