@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
h1 {
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  color: #2B2B2B;
  text-align: right;
  text-transform: uppercase;
  line-height: 80px;
}

h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  color: #2B2B2B;
}

h3 {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  color: #2B2B2B;
  text-align: left;
}

h4 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  color: #2B2B2B;
}

h5 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  color: #2B2B2B;
}

.link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  color: #2B2B2B;
  text-decoration: none;
}

.btn {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  color: #2B2B2B;
  letter-spacing: 1px;
  text-decoration: none;
}

.description {
  font-family: Raleway;
  color: #2B2B2B;
}

.large {
  font-size: 22px;
  font-weight: 400;
}

.small {
  font-size: 16px;
  font-weight: 400;
}

.medium {
  font-size: 20px;
  font-weight: 400;
}

.btn {
  flex: 1 1 auto;
  margin: 5px;
  padding: 20px;
  border: 0px;
  outline: 2px solid black;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.4s;
  position: relative;
  z-index: 0;
  background-color: white;
}
.btn:after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: -2px;
  background: linear-gradient(90deg, #5c2f86 0%, #6c50df 100%);
}
.btn:after {
  height: 120%;
  left: -10%;
  transform: skewX(10deg);
  z-index: -1;
}
.btn:hover {
  cursor: pointer;
  color: white;
}
.btn:hover:after {
  left: -10%;
  width: 120%;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 0 2em;
}

.tutorial {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tutorial .tutorial-info h2 {
  margin-bottom: 5vh;
}
.tutorial .tutorial-items {
  display: grid;
  margin-bottom: 3%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.tutorial .tutorial-items .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tutorial .tutorial-items .card .number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.tutorial .tutorial-items .card .card-img {
  width: 330px;
  height: 200px;
  background-color: #777;
  margin: 20px;
}
.tutorial .tutorial-items .card h4 {
  margin-bottom: 10px;
}
.tutorial .tutorial-items .card p {
  text-align: center;
}
.tutorial .tutorial-items .card p a {
  font-size: 25px;
  color: #4e37a7;
}
.tutorial .btn {
  padding: 20px 60px;
}

.faq {
  padding-top: 10%;
  padding-bottom: 10%;
}
.faq h2 {
  text-align: center;
  margin-bottom: 5vh;
}
.faq .show-text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  color: #2B2B2B;
  -moz-text-align-last: left;
       text-align-last: left;
  background-color: #eee;
  cursor: pointer;
  padding: 18px 10px;
  margin: 20px 5px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}
.faq .show-text:after {
  content: "";
  background-image: url("../icons/pluse.png");
  width: 24px;
  height: 24px;
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.faq .show-text:hover {
  transform: scale(1.01);
  background-color: #ccc;
}
.faq .text {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  padding: 0 40px;
  background-color: white;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.faq .active {
  background-color: #ccc;
}
.faq .active:after {
  content: "";
  background-image: url("../icons/minus.png");
  width: 24px;
  height: 24px;
}

.footer {
  border-top: 2px solid black;
  padding: 2em 0 0.5em 0;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer .footer-top .footer-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer .footer-top .footer-info .social-links {
  display: flex;
  gap: 1.5em;
}
.footer .footer-top .footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
}
.footer .footer-top .footer-links a span {
  border-bottom: solid 1px transparent;
  transition: all 0.3s;
}
.footer .footer-top .footer-links .link:hover span {
  border-bottom: solid 1px black;
}
.footer .footer-top .footer-buttons {
  display: flex;
  flex-direction: column;
}
.footer .footer-top .footer-buttons .buttons-container {
  margin: 5% 0;
}
.footer .footer-bottom {
  margin: 3% 0 0 0;
  text-align: center;
}

@media (max-width: 575px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-top {
    flex-direction: column-reverse;
  }
  .footer-top .footer-links {
    gap: 0px;
  }
  .footer-top .footer-links a {
    text-align: center;
  }

  .footer-buttons .buttons-container {
    flex-direction: column;
  }

  .footer-info {
    align-items: center;
    width: 100%;
  }
  .footer-info .logo {
    display: none;
  }
  .footer-info .social-links {
    width: 100%;
    justify-content: center;
  }
}
.container-for-cancel {
  position: relative;
}
.container-for-cancel .cancel {
  z-index: 10;
  position: absolute;
  right: -25px;
  top: -25px;
  margin: 0;
}

.pop-up {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(51, 51, 51, 0.37);
}

.container-pop {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 800px;
  min-height: 480px;
  overflow: hidden;
}
.container-pop p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.container-pop span {
  font-size: 12px;
}
.container-pop a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.container-pop .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.container-pop .form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-pop .form-container form .social-container {
  margin: 20px 0;
}
.container-pop .form-container form .social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.container-pop .form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.container-pop button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #4e37a7;
  background: #4e37a7;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.container-pop button:active {
  transform: scale(0.95);
}
.container-pop button:focus {
  outline: none;
}
.container-pop button.ghost {
  background: transparent;
  border-color: #fff;
}
.container-pop .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container-pop .sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}
.container-pop .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container-pop .overlay-container .overlay {
  background: #4e37a7;
  background: linear-gradient(90deg, #5c2f86 0%, #6c50df 100%) no-repeat 0 0/cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
.container-pop .overlay-container .overlay h2 {
  color: white;
  margin-bottom: 1em;
}
.container-pop .overlay-container .overlay .overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
.container-pop .overlay-container .overlay .overlay-right {
  right: 0;
  transform: translateY(0);
}
.container-pop .overlay-container .overlay .overlay-left {
  transform: translateY(-20%);
}

/* Move signin to right */
.container-pop.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

/* Move overlay to left */
.container-pop.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.container-pop.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.container-pop.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.container-pop.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.container-pop.right-panel-active .overlay-right {
  transform: translateY(20%);
}

.user-profile {
  display: none;
  flex-direction: column;
}
.user-profile .profile-header {
  display: flex;
}
.user-profile .profile-header .pofile-description {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}
.user-profile .profile-header .pofile-description .personal-data {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.user-profile .profile-header .pofile-description .personal-data .name-and-country {
  display: flex;
  flex-direction: column-reverse;
}
.user-profile .profile-header .pofile-description .personal-data .name-and-country .nickname {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.user-profile .profile-header .pofile-description .personal-data .name-and-country .user-country {
  width: 32px;
  height: 32px;
}
.user-profile .profile-header .pofile-description .personal-data .name-and-country .medium-img {
  border: 3px solid black;
  width: 220px;
  height: 220px;
}
.user-profile .profile-header .pofile-description .personal-data .popular-hero {
  margin: 0 0 0 15%;
}
.user-profile .profile-header .pofile-description .personal-data .popular-hero .hero-img {
  border: 2px solid black;
}
.user-profile .profile-header .pofile-description .personal-data .popular-hero .hero-name {
  padding: 3% 0;
  -moz-text-align-last: left;
       text-align-last: left;
}
.user-profile .profile-header .pofile-description .personal-data .popular-hero p {
  margin: 3% 0 0 0;
}
.user-profile .profile-header .pofile-description .current-rank {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.user-profile .profile-header .pofile-description .current-rank img {
  width: 60%;
}
.user-profile .profile-header .pofile-description .current-rank .rank-star {
  position: absolute;
  top: 0px;
}
.user-profile .profile-header .pofile-description .current-rank .rank {
  padding-top: 10px;
}
.user-profile .profile-show {
  display: flex;
  margin: 5% 0 5% 0;
}
.user-profile .profile-show .main-show {
  width: 70%;
}
.user-profile .profile-show .main-show .previous-matches .matсh {
  opacity: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
  transition: all 0.2s;
  margin: 2% 0 0 0;
}
.user-profile .profile-show .main-show .previous-matches .matсh .match-hero .hero-img {
  width: 128px;
  height: 72px;
}
.user-profile .profile-show .main-show .previous-matches .matсh .hero-kda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 5%;
}
.user-profile .profile-show .main-show .previous-matches .matсh .radiant-win {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-profile .profile-show .main-show .previous-matches .matсh .match-duration {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-profile .profile-show .main-show .previous-matches .matсh .match-score {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-profile .profile-show .main-show .previous-matches .matсh .match-time-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-profile .profile-show .main-show .previous-matches .matсh:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.user-profile .profile-show .main-show .previous-matches .matсh-show {
  -webkit-animation: showMatch 1s linear forwards;
          animation: showMatch 1s linear forwards;
}
@-webkit-keyframes showMatch {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showMatch {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.user-profile .profile-show .profile-aside {
  padding: 0 0 0 5%;
  width: 30%;
}
.user-profile .profile-show .profile-aside .general-stat {
  margin: 5% 0 0 0;
}
.user-profile .profile-show .profile-aside .general-stat .stat-item {
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: right;
  margin-top: 3%;
}
.user-profile .profile-show .profile-aside .general-stat .stat-item p {
  text-align: right;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends {
  margin: 5% 0 0 0;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends .friend {
  margin: 1.5em 0 0 0;
  display: flex;
  flex-direction: column;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends .friend .friend-title {
  display: flex;
  align-items: center;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends .friend .friend-title img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends .friend .friend-title .friend-name {
  margin: 0 0 0 1em;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends .friend .friend-main {
  margin: 1em 0 0 0;
  display: flex;
}
.user-profile .profile-show .profile-aside .general-stat .top-friends .friend .friend-main .friend-games {
  margin: 0 1em 0 0;
}
.navigation {
  display: grid;
  grid-template-columns: auto 50% 20%;
  align-items: center;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 1200px;
  padding-top: 1em;
  background-color: #ffffff;
  z-index: 1;
}
.navigation .links, .navigation .sign {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5em;
}
.navigation .links .link, .navigation .sign .link {
  padding: 10px 0;
  border: 2px solid transparent;
  position: relative;
  transition: 0.4s;
  background-color: #ffffff;
}
.navigation .links .link:after, .navigation .sign .link:after {
  position: absolute;
  transition: 0.4s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: #4e37a7;
}
.navigation .links .link:hover, .navigation .sign .link:hover {
  cursor: pointer;
}
.navigation .links .link:hover:after, .navigation .sign .link:hover:after {
  width: 100%;
  left: 0;
}
.navigation .sign {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  align-items: center;
}
.navigation .sign .exit {
  display: none;
}
.navigation .sign .signInUp {
  outline: 0px;
  border: 0px;
}
.navigation .sign .signInUp:after {
  position: absolute;
  transition: 0.4s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: #4e37a7;
}

.header {
  padding-top: 14vh;
  height: 86vh;
}
.header .header-content {
  margin-top: 5%;
  display: flex;
}
.header .header-content .header-info {
  width: 45%;
}
.header .header-content .header-info .titles {
  margin-top: 12%;
}
.header .header-content .header-info .titles h1 span {
  font-size: 70px;
  line-height: 60px;
  background: linear-gradient(90deg, #712f86 0%, #6c50df 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.header .header-content .header-info .buttons-container {
  margin-top: 5%;
}

.red {
  color: #ff000d;
}

.green {
  color: #36e436;
}

html {
  scroll-behavior: smooth;
}
html .container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100px;
}/*# sourceMappingURL=style.css.map */